In [1]:
print("Hello World!")

Hello World!

In [1]:
age = input("Enter your age: ")
print("You're "+ age)

Enter your age:  1

You're 1

In [7]:
name = input("Name: ")
age = input("Age: ")
is_student = input("Student? True/False?: ")

print("Hi I'm " + name + " (" + str(age) + ").")

Name:  Imran
Age:  22
Student? True/False?:  True

Hi I'm Imran (22).

In [19]:
a = 10
b = 30
print(a + b)  
print(a > b)  
print(a > 2 and b < 4)

40
False
False

In [1]:
num = int(input("Enter a number: "))

if (num%2 == 0):
    print("The entered number is even")
else:
    print("The entered number is odd")

Enter a number:  5

The entered number is odd

In [2]:
limit = int(input("Enter a number: "))

for i in range(limit):
    print(i)

Enter a number:  10

0
1
2
3
4
5
6
7
8
9

In [3]:
limit = int(input("Enter a number: "))

i = 0

while (i <= limit):
    print(i)
    i = i + 1

Enter a number:  5

0
1
2
3
4
5

In [55]:
def getSum(x, y):
    return x + y

print(getSum(10,20))

30

In [6]:
my_list = [1, 2, 3]
my_tuple = (1, 2)
my_set = {1, 2, 2, 3}
my_dict = {"name": "Imran", "age": 22}

print(my_list)
print(my_tuple)
print(my_set)
print(my_dict)

[1, 2, 3]
(1, 2)
{1, 2, 3, 'hello'}
{'name': 'Imran', 'age': 22}

In [63]:
s = "Imran"
print(s.upper())
print(s[0:3])

IMRAN
Imr

In [20]:
with open("data_1.txt", "w") as file:
    file.write("Hello World!")

In [21]:
with open("data_1.txt", "r") as file:
    content = file.read()
    print(content)

Hello World!

In [44]:
try:
    x = 1/0
    print(x)
except Exception as e:
    print(e)

division by zero

In [45]:
import math
print(math.sqrt(5))

2.23606797749979

In [53]:
class Person:
    def __init__(self, name):
        self.name = name

    def printName(self):
        print(self.name)

p1 = Person("Imran")
p1.printName()

Imran